<% provide(:title, 'About') %>

<div class="container text-center">
  <br>

  <h1>About Peter's Furniture Store</h1>
  <p>This is the best furniture store ever built with Ruby on Rails and BootStrap</p>
  <p>Give Peter 100%</p>

</div>

