<% provide(:title, 'Help') %>

<div class="container text-center">
  <br>

  <h1>Help</h1>
  <p>This is the best furniture store ever built with Ruby on Rails and BootStrap</p>
  <p>Give Peter 100%</p>

</div>
