<% provide(:title, 'Home') %>

<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Peters Furniture Store</h2>
        <p>Welcome to Peters Furniture Store.</p>
        <p><a class="btn btn-primary btn-large" <%= link_to "View Products", items_path %></a></p>
      </div>
    </div>
  </div>
</section>

<br>

<div class="container">
  
  <%= render 'layouts/categories' %>
  
</div>



