<div class="container">
  <br>
  <h1 class="text-center">Your payment is complete<br></h1>
    
  <h2 class="text-center">Thank you for your business</h2>
  <br>
  <br>
  <h2 class="text-center">Here are some more products you might like</h2>
  <br>
  
  
  <%=render 'layouts/popular'%>
</div>
